*{
    margin:0;
    padding:0;
    box-sizing: border-box;
  }
/* General Layout */
.nav{
    background-color: #EBEBE8;
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 80px;
    width: auto;
    text-decoration: none;
    list-style: none;
}
main{
    background-color: #EBEBE8;
    display: flex;
    flex-direction: column;
    align-items: center; 
    margin: 20px 0px;
}

.mainContent{
    display: flex;
    flex-direction: column;
    max-width: 1200px;
    padding: 0px 10px; 
}
.servicesHomePage{
    background-color: #778A35;
}
.serviceOverview{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.serviceIcon{
    color: #EBEBE8;
    
}
.serviceDiv{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px 50px;
    padding: 10px 50px 10px 50px;
    width: 300px;
}
/* General Styling */
body{
    background-color: #EBEBE8;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
h1{
    color: #778A35;
    font-size: 3rem;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
}
h2, h3, h4, h5, h6 {
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    color: #778A35;
}
a{
    text-decoration: none;
    color: inherit;
}
li{
    list-style: none;
}
/* Navigation Bar */
nav{
    margin-top: 10px 20px;
}
.nav{
    color: black;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: large;
}
.navList{
    padding: 10px;
}
.hide{
    display: none;
}
/* Footer */
.footer{
    background:#31352E;
    padding:30px 0px;
    text-align:center;
    font-family:Verdana, Geneva, Tahoma, sans-serif
    }
    
    .footer .row{
    width: 100%;
    margin: 0px 5px;
    padding: 5px 5px;
    color: #EBEBE8;
    font-size: 0.8em;
    }
    
    .footer .row a{
    text-decoration: none;
    color: #EBEBE8;
    }
    
    .footer .row ul{
    width: 100%;
    }
    .footer .row ul li{
    display: inline-block;
    margin: 0px 10px;
    }
    .footer .row a i{
    font-size: 2em;
    margin: 0px 5px;
    }
    .faIcon{
       padding-right: 5px;
       
    }
/* Image Styling */
.hero-img{
    max-width: 1200px;
    height: auto;
    margin: 20px 0px;
}
.logo{
    max-width: 50px;
}
/* Buttons */
.btn{
    border: 2px solid #183a1d;
    background-color: #183a1d;
    border-radius: 30px;
    color: white;
    padding: 10px 20px;
    margin: 20px 0px 20px 0px;
    width: fit-content;
    text-align: center;
}
/* Services Page Layout */
.servicesRow{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    max-width: 1200px;
}
.servicesColumn{
    display: flex;
    flex-direction: column;
    margin: 20px 20px;
}
/* Services Page Styling*/
.price{
    text-align: right;
    font-style: italic;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.product{
    text-align: left;
    font-weight: bold;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.price, .product{
    padding-top: 10px;
}
.disclaimerWrapper{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.disclaimer{
    display: flex;
    align-items: center;
    border: dotted 2px #D1E2C4;
    background-color: #778A35;
    min-height: 100px;
    max-width: 1200px;
    margin: 20px 0px;
    padding: 0px 20px;
}
#disclaimer{
    color: #D1E2C4;
}
/* Contact Page */
#form{
    display: flex;
    flex-direction: column;
    align-items: center; 
    height: auto;
    width: auto;
}
.formWrapper{
    display: flex;
    flex-direction: column;
    align-items: center; 
    text-align: left;  
}
.formRow{
    margin: 10px 0px;
    width: 100%;
}
input[type=text], input[type=email], select, textarea {
    width: 400px;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
  }
  label {
    padding: 12px 12px 12px 0;
    display: inline-block;
  }
  .submitBtn {
    background-color: #778A35;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    float: right;
  }
 
/* Media Queries */
@media screen and (prefers-reduced-motion: reduce) {  
    * {
      /* Very short durations means JavaScript that relies on events still works */
      animation-duration: 0.001ms !important;
      animation-iteration-count: 1 !important;
      transition-duration: 0.001ms !important;
    }
  }
@-ms-viewport{
    width: device-width;
  }
  /* Viewports between 270px and 480px wide */
@media only screen and (min-device-width: 270px) and (max-device-width: 480px) {
    /* Navigation */
    nav{
        display: block;
        max-width: fit-content;
    }
    .nav{
        font-size: small;
    }
    /* Banner Image */
    .hero-img {
        max-width: 100%; 
    }
    /* Services Home Page */
    .serviceOverview{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
    /* Headers */
    h1{
        font-size: 2rem;
    }
    h2 {
        font-size: 1.25rem;
        margin-bottom: 10px;
    }
    h3, h4, h5, h5, p, span {
        font-size: .9rem;
    }
    /* Margins */
    main, section, div, img{
        margin: 0px 10px;
    }
    main{
        margin-bottom: 20px;
    }
    /* Footer */
    .footer{
        text-align:left;
        padding:5%;
        }
    .footer .row ul li{
        display:block;
        margin:10px 0px;
        text-align:left;
        }
    .footer .row a i{
        margin:0% 3%;
        }
    .logoFooter{
        display: block;
        margin-left:40%;
        margin-right: 50%;
        max-width: 50px;
    }
    .copy{
        text-align: center;
    }
/* Service Page*/
.servicesColumn{
    display: flex;
    flex-direction: column;
    margin: 20px 5px;
}
   /* Contact Page */
   input[type=text], input[type=email], select, textarea {
    width: 80vw;
    font-size: large;
  }
  #form{
    height: 60vh;
  }
  }
/* Viewports between 481px and 600px wide */
@media only screen and (min-device-width: 481px) and (max-device-width: 600px) {
    /* Navigation */
    nav{
    display: block;
    max-width: fit-content;
    }
    .nav{
        font-size: small;
    }
    /* Banner Image */
    .hero-img {
        max-width: 100%; 
    }
    /* Margins */
    main, section, div, img{
        margin: 0px 10px;
    }
    main{
        margin-bottom: 20px;
    }
    /* Services Home Page */
    .serviceOverview{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        padding-bottom: 20px;
    }
    /* Headers */
    h1{
        font-size: 2rem;
    }
    h2 {
        font-size: 1.25rem;
        margin-bottom: 10px;
    }
    h3, h4, h5, h5, p, span {
        font-size: 1rem;
    }
    /* Footer */
    .footer{
        text-align:left;
        padding:5%;
        }
    .footer .row ul li{
        display:block;
        margin:10px 0px;
        text-align:left;
        }
    .footer .row a i{
        margin:0% 3%;
        }
     .logoFooter{
        display: block;
        margin-left:45%;
        margin-right: 50%;
        max-width: 50px;
    }
    .copy{
        text-align: center;
    }
       /* Contact Page */
       input[type=text], input[type=email], select, textarea {
        width: 80vw;
        font-size: large;
      }
      #form{
        height: 60vh;
      }
  }
  /* Viewports between 601px and 940px wide */
@media only screen and (min-device-width: 601px) and (max-device-width: 940px) {
  /* Navigation */
  nav{
    display: block;
    max-width: fit-content;
    }
    .nav{
        font-size: x-large;
    }
    /* Banner Image */
    .hero-img {
        max-width: 100%; 
    }
    /* Margins */
    main, section, div, img{
        margin: 0px 20px;
    }
    main{
        margin-bottom: 40px;
    }
    /* Services Home Page */
    .serviceOverview{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        padding-bottom: 20px;
    }
    /* Headers */
    h1{
        font-size: 2.25rem;
    }
    h2 {
        font-size: 1.75rem;
        margin-bottom: 20px;
    }
    h3, h4, h5, h5, p, span, footer {
        font-size: 1.5rem;
    }
    /* Footer */
    .footer{
        text-align:left;
        padding:5%;
        }
    .footer .row ul li{
        display:block;
        margin:10px 0px;
        text-align:left;
        }
    .footer .row a i{
        margin:0% 3%;
        }
    .logoFooter{
        display: block;
        margin-left:45%;
        margin-right: 50%;
        max-width: 50px;
    }
    .copy{
        text-align: center;
    }
    /* Contact Page */
    input[type=text], input[type=email], select, textarea {
    width: 80vw;
    font-size: large;
  }
  #form{
    height: 60vh;
  }
  }