div{
    border: 2px solid black;
}
/* General Layout */
.nav{
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 80px;
    width: auto;
    text-decoration: none;
    list-style: none;
    border-bottom: solid black 2px;
    /* Text */
    color: black;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: large;
}
main{
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center; 
}

.mainContent{
    display: flex;
    flex-direction: column;
    max-width: 1200px;
    padding: 0px 10px; 
}
.serviceOverview{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.serviceIcon{
    color: black;
    
}
.serviceDiv{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px 50px 10px 50px;
    width: 300px;
}

/* General Styling */
h1{
    text-align: center;
}
a{
    text-decoration: none;
    color: inherit;
}
.navList{
    padding: 10px;
}
/* Image Styling */
.hero-img{
    max-width: 1200px;
}
.logo{
    max-width: 50px;
}
/* Buttons */
.btn{
    border: 2px solid #bbcf6e;
    background-color: #98AD43;
    border-radius: 30px;
    color: white;
    padding: 10px 20px;
    margin: 20px 0px 20px 0px;
    width: fit-content;
    text-align: center;
}
/* Media Queries */
@media screen and (prefers-reduced-motion: reduce) {  
    * {
      /* Very short durations means JavaScript that relies on events still works */
      animation-duration: 0.001ms !important;
      animation-iteration-count: 1 !important;
      transition-duration: 0.001ms !important;
    }
  }
@-ms-viewport{
    width: device-width;
  }
  /* Viewports between 270px and 340px wide */
@media only screen and (min-device-width: 270px) and (max-device-width: 340px) {
    .hero-img {
        max-width: 100%; 
    }
    nav{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        max-width: 100%;
    }
    .serviceOverview{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
  }
  /* Viewports between 341px and 480px wide */
  @media only screen and (min-device-width: 341px) and (max-device-width: 480px) {
    .hero-img {
        max-width: 100%; 
    }
    nav{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        max-width: 100%;
    }
    .serviceOverview{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
  }
/* Viewports between 481px and 600px wide */
@media only screen and (min-device-width: 481px) and (max-device-width: 600px) {
    .hero-img {
        max-width: 100%; 
    }
    nav{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        max-width: 100%;
    }
    .serviceOverview{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
  }
  /* Viewports between 601px and 860px wide */
@media only screen and (min-device-width: 601px) and (max-device-width: 860px) {
    .hero-img {
        max-width: 100%; 
    }
    nav{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        max-width: 100%;
    }
    .serviceOverview{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
  }